@model ML.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" name="viewport">
    <title>Register</title>
    <link rel="stylesheet" href="~/Content/dist/modules/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/dist/modules/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Content/dist/modules/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/Content/dist/modules/toastr/build/toastr.min.css">
    <link rel="stylesheet" href="~/Content/dist/css/demo.css">
    <link rel="stylesheet" href="~/Content/dist/css/style.css">
</head>
<body>
    <div id="app">
        <section class="section">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
                        <div class="login-brand">
                            Management Laboratory
                        </div>
                        <div class="card card-primary">
                            <div class="card-header"><h4>Register</h4></div>
                            <div class="card-body">
                                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary("", new { @class = "text-danger" })
                                    <div class="form-group">
                                        <label for="email">Username</label>
                                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                        <div class="invalid-feedback">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                        <div class="invalid-feedback">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-6">
                                            <label for="password" class="d-block">Password</label>
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group col-6">
                                            <label for="password2" class="d-block">Password Confirmation</label>
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-block" onclick="toastr.success('Please check your email to confirm your account in order to able to reset it', 'Your registration is successful!');">
                                            Register
                                        </button>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="mt-5 text-muted text-center">
                            Return to <a href="@Url.Action("Index","Home")">Home</a>
                        </div>
                        <div class="simple-footer">
                            &copy; Copyright @DateTime.Now.Year
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script src="~/Content/dist/modules/jquery.min.js"></script>
    <script src="~/Content/dist/modules/popper.js"></script>
    <script src="~/Content/dist/modules/tooltip.js"></script>
    <script src="~/Content/dist/modules/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/dist/modules/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="~/Content/dist/modules/moment.min.js"></script>
    <script src="~/Content/dist/modules/scroll-up-bar/dist/scroll-up-bar.min.js"></script>
    <script src="~/Content/dist/js/sa-functions.js"></script>
    <script src="~/Content/dist/modules/toastr/build/toastr.min.js"></script>
    <script src="~/Content/dist/js/scripts.js"></script>
    <script src="~/Content/dist/js/custom.js"></script>
</body>
</html>
@*<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
